body {
    text-align: center;
    line-height: 30px;
}

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

img {
    text-align: center;
    width: 18rem;
}

.img {
    text-align: center;
    width: 18rem;
}

header {
    text-align: center;
}